In [1]:
import pandas as pd

In [2]:
pedido = pd.read_csv('pedido.csv')
pedido.head()

,idPedido,dtPedido,flKetchup,descUF,txtRecado
0,0,2023-05-11T10:59:33.000+0000,NaN,Goiás,NaN
1,1,2023-05-11T11:23:42.000+0000,NaN,Paraná,Aquela pizza perfeita! :-D
2,2,2023-05-11T11:24:29.000+0000,NaN,São Paulo,Muito obrigado!!
3,3,2023-05-11T11:29:39.000+0000,NaN,São Paulo,NaN
4,4,2023-05-11T11:31:30.000+0000,NaN,Rio Grande do Sul,Capricha no peperoni

In [3]:
produto = pd.read_csv('produto.csv')
produto.head()

    descItem  vlPreco
0    abacate     5.25
1    abacaxi     2.50
2  abobrinha     2.00
3  alcaparra     3.00
4       alho     1.00

In [4]:
item_pedido = pd.read_csv('item_pedido.csv')
item_pedido.head()

   idPedido   descTipoItem           descItem
0         0         bebida       refrigerante
1         0          borda  borda tradicional
2         0  ingrediente 1          pepperoni
3         0  ingrediente 2            orégano
4         0  ingrediente 3             frango

# Limpeza

In [5]:
pedido['dtPedido'] = pd.to_datetime(pedido['dtPedido'])
pedido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   idPedido   1106 non-null   int64
 1   dtPedido   1106 non-null   datetime64[ns, UTC]
 2   flKetchup  1097 non-null   object
 3   descUF     1106 non-null   object
 4   txtRecado  538 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(3)
memory usage: 43.3+ KB

In [6]:
pedido['diaSemana'] = pedido['dtPedido'].dt.day_name()
pedido['horaCompleta'] = pedido['dtPedido'].dt.time
pedido['hora'] = pedido['dtPedido'].dt.hour

In [7]:
pedido.diaSemana.unique()

array(['Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday',
       'Wednesday'], dtype=object)

In [8]:
dia_semana_pt = {'Sunday': 'Domingo','Monday':'Segunda-Feira',
                 'Tuesday':'Terça-Feira','Wednesday':'Quarta-Feira',
                 'Thursday':'Quinta-Feira','Friday':'Sexta-Feira',
                 'Saturday':'Sábado'}

In [9]:
pedido['diaSemana'] = pedido['diaSemana'].map(dia_semana_pt)
pedido.head()

,idPedido,dtPedido,flKetchup,descUF,txtRecado,diaSemana,horaCompleta,hora
0,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10
1,1,2023-05-11 11:23:42+00:00,NaN,Paraná,Aquela pizza perfeita! :-D,Quinta-Feira,11:23:42,11
2,2,2023-05-11 11:24:29+00:00,NaN,São Paulo,Muito obrigado!!,Quinta-Feira,11:24:29,11
3,3,2023-05-11 11:29:39+00:00,NaN,São Paulo,NaN,Quinta-Feira,11:29:39,11
4,4,2023-05-11 11:31:30+00:00,NaN,Rio Grande do Sul,Capricha no peperoni,Quinta-Feira,11:31:30,11

# Merge

In [12]:
len(pedido)

1106

In [13]:
len(item_pedido)

10484

In [14]:
df = pd.merge(pedido, item_pedido, on='idPedido', how='inner')
df.head()

,idPedido,dtPedido,flKetchup,descUF,txtRecado,diaSemana,horaCompleta,hora,descTipoItem,descItem
0,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,bebida,refrigerante
1,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,borda,borda tradicional
2,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,ingrediente 1,pepperoni
3,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,ingrediente 2,orégano
4,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,ingrediente 3,frango

In [16]:
df = pd.merge(df, produto, on='descItem', how='inner')
df.head()

,idPedido,dtPedido,flKetchup,descUF,txtRecado,diaSemana,horaCompleta,hora,descTipoItem,descItem,vlPreco
0,0,2023-05-11 10:59:33+00:00,NaN,Goiás,NaN,Quinta-Feira,10:59:33,10,bebida,refrigerante,7.25
1,1,2023-05-11 11:23:42+00:00,NaN,Paraná,Aquela pizza perfeita! :-D,Quinta-Feira,11:23:42,11,bebida,refrigerante,7.25
2,3,2023-05-11 11:29:39+00:00,NaN,São Paulo,NaN,Quinta-Feira,11:29:39,11,bebida,refrigerante,7.25
3,8,2023-05-11 12:01:49+00:00,NaN,Goiás,NaN,Quinta-Feira,12:01:49,12,bebida,refrigerante,7.25
4,10,2023-05-11 12:19:47+00:00,True,Goiás,"Amo vocês, quero dividir a pizza com vocês ♥️",Quinta-Feira,12:19:47,12,bebida,refrigerante,7.25

In [20]:
df = df.sort_values('idPedido')

# Analise

- Total de pedidos por estado ok
- Ticket medio por estado ok
- Dia mais movimentado por estado ok 
- Ingrediente mais pedido por estado ok
- Borda mais pedida por estado

## Ticket médio por estado

In [36]:
ticketMedio = df.groupby(['descUF', 'idPedido'])['vlPreco'].sum().groupby('descUF').mean().reset_index()
ticketMedio

                 descUF    vlPreco
0                  Acre  52.500000
1               Alagoas  42.312500
2                 Amapá  50.200000
3              Amazonas  46.787500
4                 Bahia  45.372093
5                 Ceará  46.945455
6      Distrito Federal  43.156061
7        Espírito Santo  45.831250
8                 Goiás  45.210000
9              Maranhão  44.962500
10          Mato Grosso  46.386364
11   Mato Grosso do Sul  47.158333
12         Minas Gerais  46.099457
13               Paraná  44.684211
14              Paraíba  47.183333
15                 Pará  48.150000
16           Pernambuco  42.489362
17                Piauí  46.170000
18  Rio Grande do Norte  46.747059
19    Rio Grande do Sul  45.206000
20       Rio de Janeiro  45.688835
21             Rondônia  46.100000
22              Roraima  42.500000
23       Santa Catarina  44.403261
24              Sergipe  49.200000
25            São Paulo  44.770127
26            Tocantins  41.550000

## Total de Pedidos por Estado

In [33]:
totalPedidos = pedido.groupby('descUF')['idPedido'].count().reset_index()
totalPedidos

                 descUF  idPedido
0                  Acre         2
1               Alagoas        12
2                 Amapá         1
3              Amazonas         4
4                 Bahia        43
5                 Ceará        44
6      Distrito Federal        33
7        Espírito Santo        32
8                 Goiás        35
9              Maranhão         8
10          Mato Grosso        11
11   Mato Grosso do Sul         6
12         Minas Gerais        92
13               Paraná        76
14              Paraíba        15
15                 Pará         7
16           Pernambuco        47
17                Piauí         5
18  Rio Grande do Norte        17
19    Rio Grande do Sul        50
20       Rio de Janeiro       103
21             Rondônia         6
22              Roraima         2
23       Santa Catarina        46
24              Sergipe        11
25            São Paulo       395
26            Tocantins         3

## Dia mais movimentado por estado

In [53]:
diaMovimentado = pedido.groupby(['descUF', 'diaSemana'])['idPedido'].count().groupby('descUF').idxmax().reset_index()
diaMovimentado.columns = ['descUF','diaMovimentado']
diaMovimentado['diaMovimentado'] = diaMovimentado['diaMovimentado'].apply(lambda x: x[1])
diaMovimentado

                 descUF diaMovimentado
0                  Acre   Quarta-Feira
1               Alagoas   Quarta-Feira
2                 Amapá   Quarta-Feira
3              Amazonas   Quarta-Feira
4                 Bahia   Quarta-Feira
5                 Ceará   Quarta-Feira
6      Distrito Federal   Quarta-Feira
7        Espírito Santo   Quarta-Feira
8                 Goiás   Quarta-Feira
9              Maranhão   Quarta-Feira
10          Mato Grosso   Quarta-Feira
11   Mato Grosso do Sul   Quarta-Feira
12         Minas Gerais   Quarta-Feira
13               Paraná   Quarta-Feira
14              Paraíba   Quarta-Feira
15                 Pará   Quarta-Feira
16           Pernambuco   Quarta-Feira
17                Piauí    Sexta-Feira
18  Rio Grande do Norte   Quarta-Feira
19    Rio Grande do Sul   Quarta-Feira
20       Rio de Janeiro   Quarta-Feira
21             Rondônia   Quinta-Feira
22              Roraima   Quarta-Feira
23       Santa Catarina   Quarta-Feira
24              Sergipe   Quarta-Feira
25            São Paulo   Quarta-Feira
26            Tocantins   Quarta-Feira

## Item favorito por Estado

In [66]:
ingredienteFavorito = df[df.descTipoItem.str.startswith('ingrediente')]
ingredienteFavorito = ingredienteFavorito.groupby(['descUF', 'descItem'])['descItem'].count().groupby('descUF').idxmax().reset_index()
ingredienteFavorito.columns = ['descUF','itemFav']
ingredienteFavorito['itemFav'] = ingredienteFavorito['itemFav'].apply(lambda x: x[1])
ingredienteFavorito

                 descUF    itemFav
0                  Acre  berinjela
1               Alagoas     cebola
2                 Amapá      bacon
3              Amazonas   azeitona
4                 Bahia     cebola
5                 Ceará     tomate
6      Distrito Federal  pepperoni
7        Espírito Santo      bacon
8                 Goiás   azeitona
9              Maranhão     cebola
10          Mato Grosso       alho
11   Mato Grosso do Sul  calabresa
12         Minas Gerais      bacon
13               Paraná     tomate
14              Paraíba      bacon
15                 Pará      bacon
16           Pernambuco     cebola
17                Piauí     frango
18  Rio Grande do Norte     cebola
19    Rio Grande do Sul  pepperoni
20       Rio de Janeiro     cebola
21             Rondônia  calabresa
22              Roraima       alho
23       Santa Catarina      bacon
24              Sergipe     cebola
25            São Paulo     tomate
26            Tocantins       alho

## Borda mais pedida por Estado

In [72]:
bordaFavorita = df[df.descTipoItem == 'borda']
bordaFavorita = bordaFavorita.groupby(['descUF', 'descItem'])['descItem'].count().groupby('descUF').idxmax().reset_index()
bordaFavorita.columns = ['descUF','bordaFav']
bordaFavorita['bordaFav'] = bordaFavorita['bordaFav'].apply(lambda x: x[1])
bordaFavorita

                 descUF           bordaFav
0                  Acre       cream cheese
1               Alagoas  borda tradicional
2                 Amapá     sabor catupiry
3              Amazonas     sabor catupiry
4                 Bahia  borda tradicional
5                 Ceará     sabor catupiry
6      Distrito Federal  borda tradicional
7        Espírito Santo     sabor catupiry
8                 Goiás  borda tradicional
9              Maranhão  borda tradicional
10          Mato Grosso     sabor catupiry
11   Mato Grosso do Sul     sabor catupiry
12         Minas Gerais     sabor catupiry
13               Paraná  borda tradicional
14              Paraíba  borda tradicional
15                 Pará       cream cheese
16           Pernambuco  borda tradicional
17                Piauí            cheddar
18  Rio Grande do Norte     sabor catupiry
19    Rio Grande do Sul  borda tradicional
20       Rio de Janeiro  borda tradicional
21             Rondônia  borda tradicional
22              Roraima  borda tradicional
23       Santa Catarina     sabor catupiry
24              Sergipe  borda tradicional
25            São Paulo     sabor catupiry
26            Tocantins  borda tradicional